<section class="subscribe-to-blog">
  <div class="container">
    <div class="subscribe-block">
      <div class="subscribe-title">
        Want to get the best articles weekly?
        Subscribe to our newsletter!
      </div>
      <div class="subscribe">
        <input type="text" id="subscribe" class="subscribe-input email-input">
        <button class="button">
          Subscribe
        </button>
      </div>
      <label for="subscribe" class="input-label">
        <input type="checkbox">
        <span>I agree to receive communications from Createx Online School</span>
      </label>
    </div>
  </div>
</section>
