<div class="event-card" *ngIf="event" #eventCard>
  <div class="event-main-info">
  <div class="event-moment">
    <div class="event-moment-day">{{event.date.day}}</div>
    <div class="event-moment-else">
      <div class="month">{{event.date.month}}</div>
      <div class="time">{{event.time}}</div>
    </div>
  </div>
  <div class="event-info">
    <div class="event-title">{{event.title}}</div>
    <div class="event-type">{{event.type}}</div>
  </div>
  </div>
  <div class="link-to">
    <a class="button transparent" (click)="showPopUp()">
      View more
    </a>
  </div>
</div>
