@use "../../../assets/styles/mixins";
@use "../../../assets/styles/variables";
.blog {
  padding-top: 60px;
  .container {
    text-align: center;
    .blog-above-title {
      @include mixins.above-title-styles();
    }
    .blog-title {
      @include mixins.title-styles(46px);
      margin-bottom: 60px;
    }
    .blog-nav {
      margin-bottom: 60px;
      display: flex;
      align-items: center;
      .blog-nav-item {
        margin-right: 12px;
        &:last-child {
          margin-right: 0;
        }
        &.button {
          cursor: pointer;
          &.transparent {
            border: 1px solid transparent;
            box-sizing: border-box;
            padding: 10px 20px;
            border-radius: 4px;
            background-color: transparent;
            font-weight: 700;
            color: variables.$author-card-color;
            transition: all .3s ease-in;
            &.with-svg {
              display: flex;
              align-items: center;
              svg {
                margin-right: 10px;
                path {
                  transition: all .3s ease-in;
                  fill: variables.$author-card-color;
                }
              }
            }
            &:hover, &.active {
              border: 1px solid variables.$primary-color;
              color: variables.$primary-color;
              svg {
                path {
                  fill: variables.$primary-color;
                }
              }
            }
          }

        }
      }
    }
    .blog-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: left;
    }
  }
}
