<section class="certificate" #certificate>
  <div class="container">
    <div class="certificate-description">
      <div class="certificate-description-above-title">Createx Certificate</div>
      <div class="certificate-description-title">Your expertise will be confirmed</div>
      <div class="certificate-description-text">
        We are accredited by international professional organizations and institutes:
      </div>
      <div class="certificate-description-logos">
        <div class="certificate-description-logo">
          <img src="images/certificate/logo1.png" alt="Logo">
        </div>
        <div class="certificate-description-logo">
          <img src="images/certificate/logo2.png" alt="Logo">
        </div>
        <div class="certificate-description-logo">
          <img src="images/certificate/logo3.png" alt="Logo">
        </div>
      </div>
    </div>
  </div>
</section>
