@use "variables";

@mixin logo-styles() {
  cursor: pointer;
  width: 130px;
  svg {
    transition: opacity .3s ease-in;
  }

  &:hover {
    svg {
      opacity: 80%;
    }
  }
}

@mixin footer-nav-title-styles() {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: variables.$white-color;
}

@mixin bg-color-styles() {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: variables.$gradient-color;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
  }
}

@mixin button-styles($bg: variables.$gradient-color, $txtC: variables.$white-color, $width: 201px) {
  border-radius: 4px;
  background-image: $bg;
  cursor: pointer;
  color: $txtC;
  font-weight: 700;
  box-sizing: border-box;
  padding: 15px 20px;
  border: 1px solid transparent;
  background-clip: border-box;
  width: $width;
  text-decoration: none;
}

@mixin button-circle-styles() {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color .3s ease-in;
  svg path {
    transition: all .2s ease-in;
    fill: variables.$text-color;
  }
  &:hover {
    background-color: variables.$primary-color;

    svg path {
      fill: variables.$white-color;
    }
  }
}

@mixin play-button-styles(){
  width: 52px;
  height: 52px;
  border-radius: 50%;
  cursor: pointer;
  background-color: variables.$primary-color;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    opacity: 12%;
    top: -16px;
    left: -16px;
    transform: scale(0);
  }

  &:hover {
    animation: pulse 1s infinite;

    &::before {
      width: 84px;
      height: 84px;
      background-color: variables.$primary-color;
      transform: scale(1);
    }
  }
}

@mixin title-styles($size: 46px) {
  font-weight: 900;
  font-size: $size;
  letter-spacing: 1px;
  color: variables.$title-text-color;
}

@mixin above-title-styles() {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: variables.$title-text-color;
  margin-bottom: 8px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
