@use "fonts";
@use "variables";
@use "mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: variables.$text-color;
  font-size: 16px;
}

.container {
  max-width: variables.$container-width;
  margin: 0 auto;
}

.reviews-carousel {
  .owl-carousel {
    max-width: 1020px;
    padding: 64px 105px;
    box-sizing: border-box;
    background: variables.$white-color;
    border-radius: 4px;
    box-shadow: 0px 30px 24px -10px #9A9CA50D;
    margin: 0 auto;
    position: relative;
    .owl-stage-outer {
      .review-item {
        display: flex;
        align-items: flex-start;
        .quote-mark {
          margin-right: 30px;
        }
        .review-content {
          max-width: 752px;
          .review-text {
            font-size: 20px;
            margin-bottom: 24px;
          }
          .user-profile {
            display: flex;
            align-items: center;
            .user-image {
              width: 72px;
              height: 72px;
              border-radius: 50%;
              margin-right: 20px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
            }
            .user-info {
              .user-name {
                font-weight: 700;
                color: variables.$title-text-color;
                margin-bottom: 4px;
              }
              .user-add {
                font-size: 14px;
                color: variables.$author-card-color;
              }
            }
          }
        }
      }
    }
    .owl-nav {
      display: none;
    }
    .owl-dots {
      position: absolute;
      bottom: -60px;
      right: calc(43% - 50px);
      .owl-dot {
        span {
          width: 30px;
          height: 0px;
          border: 3px solid #B3B7BC;
          transition: all .3s ease-in;
          margin: 0 6px;
        }

        &.active, &:hover {
          span {
            border: 3px solid #424551;
          }
        }
      }
    }
  }
}

.subscribe-input {
  position: relative;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  background-color: variables.$white-color;
  width: 422px;
  padding: 13px 16px;
  box-sizing: border-box;
  outline: none;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: variables.$text-color;
  &::placeholder {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: variables.$gray-button-color;
  }
}

input[type="checkbox"] {
  margin-right: 12px;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #D7DADD;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  background-color: white;
  &:checked {
    background-color: variables.$primary-color;
    border-color: variables.$primary-color;
    &::before {
      content: '\2713'; /* Checkmark character */
      display: block;
      color: white;
      font-size: 14px;
      text-align: center;
      line-height: 16px;
    }
  }
}

.sign {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(74, 74, 74, .8);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    background-color: variables.$white-color;
    padding: 48px 0;
    position: relative;

    .close {
      cursor: pointer;
      width: 24px;
      height: 24px;
      position: absolute;
      right: 24px;
      top: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .sign-inner-text {
      text-align: center;
      font-size: 14px;
      .title {
        font-weight: 700;
        font-size: 28px;
        color: variables.$title-text-color;
      }
      .description {
        color: variables.$author-card-color;
        margin: 24px auto;
        max-width: 390px;
      }
      .sign-form {
        max-width: 390px;
        text-align: left;
        padding-left: 48px;
        padding-right: 48px;
        .sign-form-input {
          margin-bottom: 20px;
          .input {
            width: 390px;
            margin-top: 8px;
            font-size: 14px;
            &::placeholder {
              font-size: 14px;
            }
          }
          &.with-checkbox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;
            .sign-checkbox {
              label {
                display: flex;
                align-items: center;
              }
            }
            .link {
              color: variables.$primary-color;
              cursor: pointer;
            }
          }
        }
        .button {
          @include mixins.button-styles(variables.$gradient-color, variables.$white-color, 390px);
          margin-bottom: 24px;
        }
      }
      .link-to-sign-block {
        text-align: left;
        margin-bottom: 24px;
        padding: 0 48px;
        .link-to-sign {
          color: variables.$primary-color;
          border: none;
          cursor: pointer;
          background: transparent;
          margin-left: 3px;
          font-size: 14px;
        }
      }
      .line {
        border: 1px solid #E5E8ED;
        width: auto;
      }
      .social-links {
        margin-top: 24px;
        .text {
          text-align: center;
          color: variables.$author-card-color;
          margin-bottom: 16px;
        }
        .social-links-items {
          display: flex;
          align-items: center;
          justify-content: center;
          .social-link {
            cursor: pointer;
            width: 20px;
            height: 20px;
            text-decoration: none;
            margin-right: 12px;
            &:last-child {
              margin-right: 0;
            }
            svg path {
              transition: all .3s ease-in;
              fill: variables.$author-card-color;
            }
            &:hover {
              svg path {
                fill: variables.$primary-color;
              }
            }
          }
        }
      }
    }
  }
}

.error-feedback {
  margin-top: 5px;
  font-size: 12px;
  color: red;
  position: absolute;
}
