@use "../../../assets/styles/mixins";
@use "../../../assets/styles/variables";
.events {
  padding-top: 60px;
  padding-bottom: 180px;
  background-image: url("../../../assets/images/events/events-dots.png"), url("../../../assets/images/events/events-circles.png");
  background-repeat: no-repeat;
  background-position: left calc(3% + 5px), right calc(65% + 25px);

  .container {
    text-align: center;
    .events-above-title {
      @include mixins.above-title-styles();
    }
    .events-title {
      @include mixins.title-styles(46px);
      margin-bottom: 60px;
    }
    .events-view {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 60px;
      .view-button {
        border: none;
        cursor: pointer;
        background-color: transparent;
        margin-left: 12px;
        svg path {
          transition: all .3s ease-in;
        }
        &:first-child {
          margin-left: 0;
        }
        &:hover, &.active {
          svg path {
            fill: variables.$primary-color;
          }
        }
      }
    }
    .events-items {
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.list {
        flex-direction: column;
        .event-item {
          width: 100%;
          margin-bottom: 24px;
        }
      }
      &.grid {
        flex-direction: row;
        flex-wrap: wrap;
        .event-item {
          margin-bottom: 30px;
        }
      }
    }
  }
}
